body{
    background: url("../Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 15px;
    margin:0 15px 0 0;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
}
/*Professional Information*/
.content{
    padding: 20px 0 0 20px;
    width: 95%;
    color: black;
    margin:0px;
}
.summary{
   font-size: 115%; 
   margin:0;
    color: black;  
}
.summary p{
    text-indent: 55px;
}
.key{
    font-size: 115%;
    
}
/*Experience  Tab panel-body*/

 .indent{
    margin-left: 650px;
   margin-right: 20px;
}
.wide{
    margin-left: 717px;
   margin-right: 20px;
}
.menu, .sub1, .sub2{
    padding: 10px 20px 15px 20px;
}
.sub1 p, .sub2 p{

    background: whitesmoke;
    border: 2px solid whitesmoke;
    height: 40px;
    padding: 15px;
    border-radius: 3px;
}
.sub2 img{
    height:300px;
    width:30%;
    margin-left: 450px;
}
.sub2 a{
    display:block;
    padding-top: 20px;
    margin-left: 620px;
    
}
.sub1, .sub2 {
    color: black;
}
/*Feedback Form*/
  input[type=text], input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 16px;  
    resize: vertical;
  }
  textarea{
    height:200px;
  }
   
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .form {
    border-radius: 5px;
    padding: 25px; 
    margin:0;
  }  
  

